extends layout

block append head
    link(rel="stylesheet" href="/vendor/leaflet/leaflet.css")
    //- TODO: Change to minified leaflet.js
    script(src="/vendor/leaflet/leaflet-src.js")
    script(src="/vendor/leaflet-providers/leaflet-providers.js")

block content
    include search
    div(class='map' id='map')
    script(src="/javascripts/map.js")
    <script>renderMap(#{latitude}, #{longitude})</script>



            
