extends layout

block content
    p Search for content:
    form(action="/map" method="GET")
        input(type="text" name="keywords" placeholder="")
        input(type="text" name="address" placeholder="")
        input(type="submit")
