extends layout

block append head
    link(rel="stylesheet" href="/vendor/leaflet/leaflet.css")
    //- TODO: Change to minified leaflet.js
    script(src="/vendor/leaflet/leaflet-src.js")

block content
    p Map here
