script(src="/vendor/jquery/jquery.js")
form(onsubmit="onFormSubmit(); return false;")
    p Search for content:
    | Search query
    input(type="text" id="form_keywords" placeholder="")
    br
    | Your address
    input(type="text" id="form_address" placeholder="" required)
    br
    input(type="submit" id="form_submit" )
