html {
    height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.map {
    height: 100%;
}
#map {
    height: 100%;
}

.spinning {
    animation-name: spin;
    animation-duration: 10ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(359deg); }
}

.job {
    height: 400px;
    overflow: auto;
}

