doctype html
html
  block head
    title= title
    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/vendor/jquery/jquery.js")
    script(src="/vendor/bootstrap/js/bootstrap.js")
  body 
    block content

